<!DOCTYPE html>
<html>
  <head>
    <title>Konjugationen und Plural</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/default.css" media="all" type="text/css">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">

    <div id="main">
      <h1>Konjugationen und Plural</h1>
        Wort: <span class="original_word">{{word.singular}}</span><br>
        Typ: <span class="original_word" v-if="reveal_type">{{word.type}}</span><br>
        Genus: <span class="original_word" v-if="reveal_gender" v-bind:class="{ incorrect: (gender_guess != word.gender) }">{{word.gender}}</span>
      <div v-if="reveal_gender_buttons">
        <button v-on:click="checkGender('Maskulin');">Maskulin</button>
        <button v-on:click="checkGender('Feminin');">Feminin</button>
        <button v-on:click="checkGender('Neutrum');">Neutrum</button>
      </div>
    <br>
    <table>
      <thead>
        <tr>
          <th></th><th>Singular</th><th>Plural</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Nominative</td><td><input id="nom_singular" type="text"></td><td><input id="nom_plural" type="text"></td>
        <td><button onclick="check([Cases.Nominativ]);">Check</button></td>
      </tr>
      <tr>
        <td></td><td><span id="nom_singular_answer"></span></td><td><span id="nom_plural_answer"></span></td>
      </tr>
      <tr>
        <td>Akkusativ</td><td><input id="akk_singular" type="text"></td><td><input id="akk_plural" type="text"></td>
      </tr>
      <tr>
        <td></td><td><span id="akk_singular_answer"></span></td><td><span id="akk_plural_answer"></span></td>
      </tr>
      <tr>
        <td>Dativ</td><td><input id="dat_singular" type="text"></td><td><input id="dat_plural" type="text"></td>
      </tr>
      <tr>
        <td></td><td><span id="dat_singular_answer"></span></td><td><span id="dat_plural_answer"></span></td>
      </tr>
      <tr>
        <td>Genitiv</td><td><input id="gen_singular" type="text"></td><td><input id="gen_plural" type="text"></td>
      </tr>
      <tr>
        <td></td><td><span id="gen_singular_answer"></span></td><td><span id="gen_plural_answer"></span></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="button_bar" colspan="4">
          <button v-on:click="check()">Prüfen</button>
          <button v-on:click="newWord">Neues Wort!</button>
        </td>
      </tr>
    </tfoot>
    </table>
  </div>
  </div>
  <script src="js/main.js"></script>
</body>
</html>