<!DOCTYPE html>
<html>
  <head>
    <title>Konjugationen und Plural</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/default.css" media="all" type="text/css">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">

    <div id="main">
      <h1>Konjugationen und Plural</h1>
        Wort: <span class="original_word">{{word.singular}}</span><br>
        Typ: <span class="original_word" v-if="reveal_type">{{word.type}}</span><br>
        Genus: <span class="original_word" v-if="reveal_gender" v-bind:class="{ incorrect: (gender_guess != word.gender) }">{{word.gender}}</span>
      <div class="genus_buttons" v-if="reveal_gender_buttons">
        <button v-on:click="checkGender('Maskulin');">Maskulin</button>
        <button v-on:click="checkGender('Feminin');">Feminin</button>
        <button v-on:click="checkGender('Neutrum');">Neutrum</button>
      </div>
    <br>
      <div class="row">
        <div class="rowhead"></div>
        <div class="colhead">Singular</div>
        <div class="colhead">Plural</div>
      </div>
      <checked-case kasus="Nominativ" v-bind:bus="bus" v-bind:conjugations="conjugations" v-bind:show="show_answers"></checked-case>
      <checked-case kasus="Akkusativ" v-bind:bus="bus" v-bind:conjugations="conjugations" v-bind:show="show_answers"></checked-case>
      <checked-case kasus="Dativ" v-bind:bus="bus" v-bind:conjugations="conjugations" v-bind:show="show_answers"></checked-case>
      <checked-case kasus="Genitiv" v-bind:bus="bus" v-bind:conjugations="conjugations" v-bind:show="show_answers"></checked-case>
      <div class="row button_bar">
        <button v-on:click="check">Prüfen</button>
        <button v-on:click="newWord">Neues Wort!</button>
      </div>
  </div>
  </div>
  <script src="js/main.js"></script>
</body>
</html>